h1{
  font-family: courier;
  font-weight: bold;
  font-size: 25px;
}

.display{
  display: box;
  width:90vw;
  height: 40vh;
  border-style: solid;
  padding: 5px;
  align-items: center;
  border-style: solid;
  border-radius:10px;
  border-width:3px;
  border-color:#777;
  box-shadow: 0 0 5px 2px #777;
}
.cmdbox{
  width:95%;
  height: 18%;
  background-color: rgb(10,10,10);
  color:rgb(240,240,240);
  border:none;
}
.cmdbox::placeholder{
  color:green;
  font-weight: bold;
}
.cmdbox:focus,.terminal:focus{
  outline: none;
}
.terminal{
  width: 95%;
  height: 78%;
  background-color: rgb(10,10,10);
  color:yellow;
  border:none;
}


