.terminal{
  display: absolute;
  width:80vw;
  height: 40vh;
  border-style: solid;
  border-radius:10px;
  border-width:1px;
  border-color:#777;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: scroll;
  background-color: black;
}
.cmdbox{
  width:95%;
  height: 10%;
  background-color: rgb(10,10,10);
  color:rgb(240,240,240);
  border:none;
  margin: 0;
}
.cmdbox::placeholder{
  color:green;
  font-weight: bold;
}
.cmdbox:focus,.display:focus{
  outline: none;
}
.display{
  font-size: 16px;
  width: 95%;
  min-height: 10%;
  background-color: rgb(10,10,10);
  color:yellow;
  border:none;
  margin: 0;
}
