nav{
  background-color: #333;
  color: #fff;
}
nav ul{
  list-style: none;
  padding: 0;
  float: left;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding-right: 15px;
}
.active-link{
  color: lightblue;
}

 

 
@media screen and (max-width:786px){
    nav ul{
      display: none;
      list-style: none;
      padding-top: 40px;
      padding-left: 20px;
}
nav ul li{
  display: block;
  padding: 10px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  
}
  
}