body{
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
}
.website-name{
  font-family: Courier;
}
.head{
  position: fixed;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.body{
  padding-top: 26vh;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.custom-link{
 text-decoration: none;
color: lightblue;  
}
#project-h2{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  line-height: 1.6em;
  color: #fff;
  height: 35vh;
  background-image: url("../images/bg04.jpg");
  background-size: cover;
  background-position:right;
  text-shadow: 0 0 3px #222;
}

#about-h2{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  line-height: 1.6em;
  color: #fff;
  height: 35vh;
  background-image: url("../images/bg02.jpg");
  background-size: cover;
  background-position:right;
  text-shadow: 0 0 3px #222;
}

.head3{
  margin-top:0;
  padding: 5px;
  height: 20%;
  color: #444;
  background: linear-gradient(150deg,lightblue,white);
  
}
.card{
  color: #333;
  background-color: #eee;
  margin-top: 50px;
  width: 100%;
  min-height: 20vh;
  border-style: none;
  border-radius: 5px;
}
.card-title{
  padding: 2px;
  margin-top: 5px;
  font-size: 25px;
}
.card img{
  width: 100%;
  min-height: 10vh;
  object-fit: cover;
}
.card-text{
  margin: 2px;
  padding: 2px;
}
.card-but{
  text-decoration: none;
  display: inline-block;
  background-color: darkslateblue;
  color: #fff;
  width: 40%;
  height: 2rem;
  padding: 3px;
  margin: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  text-align: center;
  box-shadow: 0 0 5px 1px darkslateblue;
}
.card-but:hover{
  border-color: coral;
}
.mcard{
  background-color: #fff;
  color:#333;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.goright{
  animation-name: leftside;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.goleft{
  animation-name: rightside;
  animation-duration: 1s;
  animation-fill-mode: backwards
}
@keyframes leftside {
  0%{
    transform:  translateX(-80%);
  }
  100%{
    transform:  translateX(1%);
  }
}
@keyframes rightside {
  0%{
    transform:  translateX(80%);
  }
  100%{
    transform:  translateX(-1%);
  }
}
header{
  background: linear-gradient(90deg,coral,lightblue);
  color: #fff;
  height: 15vh;
}

#topmenu{
  display: none;
  border: solid white;
  width: 30px;
  height: 30px;
  padding: 2px;
  float: right;
  margin-right: 1px;
}
#topmenu img{
  width: 30px;
  height: 30px;
  filter: invert();
}
#showcase {
  background-image: url("../images/tech_background09.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  margin-bottom: 30px;
  text-align: center;
  animation: gradientBG 12s ease 1;
}

    @keyframes gradientBG {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 50% 50%; }
    }

#showcase div p{
  color: #fff;
  line-height: 1.6em;
  font-size: 40px;
}
#main-content{
  float: left;
  width:70%;
  padding: 0 5px;
  box-sizing: border-box;
}
#sidebar{
  float: right;
  width: 30%;
  padding: 5px;
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  border: solid 1px #fff;
  border-radius: 2px;
  line-height: 1.6em;
}

footer{
  text-align: center;
  color: #fff;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  height: 30vh;
}

@media screen and (max-width: 600px){
  #main-content{
    width: 100%;
    float: none;
  }
  #sidebar{
     width: 100%;
    float: none;
  }
  
  #topmenu{
    display: inline-block;
  }
  
}