body{
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.custom-link{
 text-decoration: none;
color: lightblue;  
}
header{
  background: linear-gradient(90deg,coral,lightblue);
  color: #fff;
}

#topmenu{
  display: none;
  border: solid white;
  width: 30px;
  height: 30px;
  padding: 2px;
  float: right;
  margin-right: 1px;
}
#topmenu img{
  width: 30px;
  height: 30px;
  filter: invert();
}
#showcase {
  background-image: url("../images/tech_background09.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
  animation: gradientBG 12s ease 1;
}

    @keyframes gradientBG {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 50% 50%; }
    }

#showcase div p{
  color: #fff;
  line-height: 1.6em;
  font-size: 40px;
}
#main-content{
  float: left;
  width:70%;
  padding: 0 5px;
  box-sizing: border-box;
}
#sidebar{
  float: right;
  width: 30%;
  padding: 5px;
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  border: solid 1px #fff;
  border-radius: 2px;
  line-height: 1.6em;
}

footer{
  text-align: center;
  color: #fff;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  height: 30vh;
}

@media screen and (max-width: 600px){
  #main-content{
    width: 100%;
    float: none;
  }
  #sidebar{
     width: 100%;
    float: none;
  }
  
  #topmenu{
    display: inline-block;
  }
  
}